In [2]:
print 'sdfg'

sdfg

In [3]:
arr = [1,2,3,4,8]
print arr
for a in arr:
    print a

[1, 2, 3, 4, 8]
1
2
3
4
8

In [4]:
arr[6:2:-1]

[8, 4]

In [5]:
print "Hello, Python"

Hello, Python

In [6]:
if True:
   print "Answer"
   print "True"
else:
   print "Answer"
   print "False"

Answer
True

In [7]:
days = ['Monday', 'Tuesday', 'Wednesday',
        'Thursday', 'Friday']
print days

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

In [8]:
days = ['Monday', 'Tuesday', 'Wednesday',
        'Thursday', 'Friday']
for a in days:
    print a

Monday
Tuesday
Wednesday
Thursday
Friday

In [9]:
word = 'word'
sentence = "This is a sentence."
paragraph = """This is a paragraph. It is
made up of multiple lines and sentences."""
print word
print sentence
print paragraph

word
This is a sentence.
This is a paragraph. It is
made up of multiple lines and sentences.

In [14]:
raw_input("Press the enter key to exit.")

'hg'

In [15]:
import sys; x = 'foo'; sys.stdout.write(x + '\n' + x)

foo
foo

In [16]:
counter = 100          # An integer assignment
miles   = 1000.0       # A floating point
name    = "John"       # A string

print counter
print miles
print name

100
1000.0
John

In [17]:
a = b = c = 1
print a + b + c

3

In [18]:
a,b,c = 1,2,"john"
print str(a + b) + c

3john

In [62]:
strr = 'Hello World!'

print strr          # Prints complete string
print strr[0]       # Prints first character of the string
print strr[2:5]     # Prints characters starting from 3rd to 5th
print strr[2:]      # Prints string starting from 3rd character
print (strr + "\n") * 2      # Prints string two times
print strr + "TEST" # Prints concatenated string

Hello World!
H
llo
llo World!
Hello World!
Hello World!

Hello World!TEST

In [19]:
lisst = [ 'abcd', 786 , 2.23, 'john', 70.2]
tinylist = [123, 'john']

print lisst          # Prints complete list
print lisst[0]       # Prints first element of the list
print lisst[1:3]     # Prints elements starting from 2nd till 4th 
print lisst[2:]      # Prints elements starting from 3rd element
print tinylist * 2  # Prints list two times
print lisst + tinylist # Prints concatenated lists

['abcd', 786, 2.23, 'john', 70.2]
abcd
[786, 2.23]
[2.23, 'john', 70.2]
[123, 'john', 123, 'john']
['abcd', 786, 2.23, 'john', 70.2, 123, 'john']

In [22]:
tuplee = ( 'abcd', 786 , 2.23, 'john', 70.2  )
tinytuple = (123, 'john')

print tuplee           # Prints complete list
print tuplee[0]        # Prints first element of the list
print tuplee[1:3]      # Prints elements starting from 2nd till 3rd 
print tuplee[2:]       # Prints elements starting from 3rd element
print tinytuple * 2   # Prints list two times
print tuplee + tinytuple # Prints concatenated lists

('abcd', 786, 2.23, 'john', 70.2)
abcd
(786, 2.23)
(2.23, 'john', 70.2)
(123, 'john', 123, 'john')
('abcd', 786, 2.23, 'john', 70.2, 123, 'john')

In [26]:
tuplee = ( 'abcd', 786 , 2.23, 'john', 70.2  )
lisst = [ 'abcd', 786 , 2.23, 'john', 70.2  ]
#tuplee[2] = 1000    # Invalid syntax with tuple
lisst[2] = 1000     # Valid syntax with list
print lisst

['abcd', 786, 1000, 'john', 70.2]

In [27]:
var = 100
if ( var == 100 ) : print "Value of expression is 100"
print "Good bye!"

Value of expression is 100
Good bye!

In [28]:
count = 0
while (count < 9):
   print 'The count is:', count
   count = count + 1

print "Good bye!"

The count is: 0
The count is: 1
The count is: 2
The count is: 3
The count is: 4
The count is: 5
The count is: 6
The count is: 7
The count is: 8
Good bye!

In [29]:
count = 0
while count < 5:
   print count, " is  less than 5"
   count = count + 1
else:
   print count, " is not less than 5"

0  is  less than 5
1  is  less than 5
2  is  less than 5
3  is  less than 5
4  is  less than 5
5  is not less than 5

In [30]:
for letter in 'Python':     # First Example
   print 'Current Letter :', letter

fruits = ['banana', 'apple',  'mango']
for fruit in fruits:        # Second Example
   print 'Current fruit :', fruit

Current Letter : P
Current Letter : y
Current Letter : t
Current Letter : h
Current Letter : o
Current Letter : n
Current fruit : banana
Current fruit : apple
Current fruit : mango

In [31]:
fruits = ['banana', 'apple',  'mango']
for index in range(len(fruits)):
   print 'Current fruit :', fruits[index]

Current fruit : banana
Current fruit : apple
Current fruit : mango

In [39]:
lower = 10
upper = 20
# uncomment the following lines to take input from the user
#lower = int(input("Enter lower range: "))
#upper = int(input("Enter upper range: "))
print("Prime numbers between",lower,"and",upper,"are:")
for num in range(lower,upper + 1):
   for i in range(2,num):
      if (num % i) == 0:
         break
      else:
         print '%d is a prime number \n' %(num),
         break

('Prime numbers between', 10, 'and', 20, 'are:')
11 is a prime number
13 is a prime number
15 is a prime number
17 is a prime number
19 is a prime number

In [38]:
i = 2
while(i < 100):
   j = 2
   while(j <= (i/j)):
      if not(i%j): break
      j = j + 1
   if (j > i/j) : print i, " is prime"
   i = i + 1

2  is prime
3  is prime
5  is prime
7  is prime
11  is prime
13  is prime
17  is prime
19  is prime
23  is prime
29  is prime
31  is prime
37  is prime
41  is prime
43  is prime
47  is prime
53  is prime
59  is prime
61  is prime
67  is prime
71  is prime
73  is prime
79  is prime
83  is prime
89  is prime
97  is prime

In [41]:
for letter in 'Python':     # First Example
   if letter == 'h':
      break
   print 'Current Letter :', letter
  
var = 10                    # Second Example
while var > 0:              
   print 'Current variable value :', var
   var -= 1
   if var == 5:
      break

Current Letter : P
Current Letter : y
Current Letter : t
Current variable value : 10
Current variable value : 9
Current variable value : 8
Current variable value : 7
Current variable value : 6

In [42]:
for letter in 'Python':     # First Example
   if letter == 'h':
      continue
   print 'Current Letter :', letter

var = 10                    # Second Example
while var > 0:              
   var = var -1
   if var == 5:
      continue
   print 'Current variable value :', var

Current Letter : P
Current Letter : y
Current Letter : t
Current Letter : o
Current Letter : n
Current variable value : 9
Current variable value : 8
Current variable value : 7
Current variable value : 6
Current variable value : 4
Current variable value : 3
Current variable value : 2
Current variable value : 1
Current variable value : 0

In [43]:
# Function definition is here
def changeme( mylist ):
   "This changes a passed list into this function"
   mylist.append([1,2,3,4]);
   print "Values inside the function: ", mylist
   return

# Now you can call changeme function
mylist = [10,20,30];
changeme( mylist );
print "Values outside the function: ", mylist

Values inside the function:  [10, 20, 30, [1, 2, 3, 4]]
Values outside the function:  [10, 20, 30, [1, 2, 3, 4]]

In [45]:
# Function definition is here
def printme( str ):
   "This prints a passed string into this function"
   print str
   return;

# Now you can call printme function
printme( str = "My string")

My string

In [1]:
print ("Hello World")

Hello World

In [4]:
x = input("something:")

In [1]:
#Starting Python 3
counter = 100          # An integer assignment
miles   = 1000.0       # A floating point
name    = "John"       # A string

print (counter)
print (miles)
print (name)

100
1000.0
John

In [2]:
str = 'Hello World!'

print (str)          # Prints complete string
print (str[0])       # Prints first character of the string
print (str[2:5])     # Prints characters starting from 3rd to 5th
print (str[2:])      # Prints string starting from 3rd character
print (str * 2)      # Prints string two times
print (str + "TEST") # Prints concatenated string

Hello World!
H
llo
llo World!
Hello World!Hello World!
Hello World!TEST

In [3]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
print ("dict['Name']: ", dict['Name'])
print ("dict['Age']: ", dict['Age'])

("dict['Name']: ", 'Zara')
("dict['Age']: ", 7)

In [4]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
dict['Age'] = 8; # update existing entry
dict['School'] = "DPS School" # Add new entry

print ("dict['Age']: ", dict['Age'])
print ("dict['School']: ", dict['School'])

("dict['Age']: ", 8)
("dict['School']: ", 'DPS School')

In [7]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}

del dict['Name'] # remove entry with key 'Name'
#dict.clear()     # remove all entries in dict
#del dict         # delete entire dictionary

print ("dict['Age']: ", dict['Age'])
#print ("dict['School']: ", dict['School'])

("dict['Age']: ", 7)

In [8]:
# Function definition is here
def changeme( mylist ):
   "This changes a passed list into this function"
   print ("Values inside the function before change: ", mylist)
   mylist[2]=50
   print ("Values inside the function after change: ", mylist)
   return

# Now you can call changeme function
mylist = [10,20,30]
changeme( mylist )
print ("Values outside the function: ", mylist)

('Values inside the function before change: ', [10, 20, 30])
('Values inside the function after change: ', [10, 20, 50])
('Values outside the function: ', [10, 20, 50])

In [9]:
def changeme( mylist ):
   "This changes a passed list into this function"
   mylist = [1,2,3,4] # This would assi new reference in mylist
   print ("Values inside the function: ", mylist)
   return

# Now you can call changeme function
mylist = [10,20,30]
changeme( mylist )
print ("Values outside the function: ", mylist)

('Values inside the function: ', [1, 2, 3, 4])
('Values outside the function: ', [10, 20, 30])

In [10]:
# Function definition is here - KEYWORD ARGUMENTS
def printme( str ):
   "This prints a passed string into this function"
   print (str)
   return

# Now you can call printme function
printme( str = "My string")

My string

In [11]:
def printinfo( name, age = 35 ):  #Default arguments
   "This prints a passed info into this function"
   print ("Name: ", name)
   print ("Age ", age)
   return

# Now you can call printinfo function
printinfo( age = 50, name = "miki" )
printinfo( name = "miki" )

('Name: ', 'miki')
('Age ', 50)
('Name: ', 'miki')
('Age ', 35)

In [12]:
def printinfo( arg1, *vartuple ): #Variable length arguments
   "This prints a variable passed arguments"
   print ("Output is: ")
   print (arg1)
   for var in vartuple:
      print (var)
   return

# Now you can call printinfo function
printinfo( 10 )
printinfo( 70, 60, 50 )

Output is:
10
Output is:
70
60
50

In [13]:
# Function definition is here || Anonymous function || Note keyword is lambda
sum = lambda arg1, arg2: arg1 + arg2

# Now you can call sum as a function
print ("Value of total : ", sum( 10, 20 ))
print ("Value of total : ", sum( 20, 20 ))

('Value of total : ', 30)
('Value of total : ', 40)

In [14]:
def sum( arg1, arg2 ):  #Exploring return statement
   # Add both the parameters and return them."
   total = arg1 + arg2
   print ("Inside the function : ", total)
   return total

# Now you can call sum function
total = sum( 10, 20 )
print ("Outside the function : ", total )

('Inside the function : ', 30)
('Outside the function : ', 30)

In [15]:
total = 0 # This is global variable. Talking about scope of variables
# Function definition is here
def sum( arg1, arg2 ):
   # Add both the parameters and return them."
   total = arg1 + arg2; # Here total is local variable.
   print ("Inside the function local total : ", total)
   return total

# Now you can call sum function
sum( 10, 20 )
print ("Outside the function global total : ", total )

('Inside the function local total : ', 30)
('Outside the function global total : ', 0)